* {
  box-sizing: border-box;
}

body {
  display: flex;
  padding: 40px 320px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  background: #292828;
}

.board {
  display: flex;
  width: 800px;
  height: 850px;
  padding: 25px 0px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50px;
  background: #31842F;
}


.board-title {
  color: #1B2732;
  font-size: 48px;
  font-family: Itim;
  line-height: 100px;
  letter-spacing: 12px;
  filter: blur(2.5px);
}

.board-cards {
  display: flex;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.board-center {
  display: flex;
  width: 100%;
  padding: 50px 0px;
  justify-content: space-evenly;
  align-items: center;
}

.board-center .card {
  transform: rotate(30deg);

}
.board-value{
  color: white;
  font-size: 35px;
  font-family: Itim;
  line-height: 30px;
}
.card {
  width: 80px;
  border-radius: 10px;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

main {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.buttons-button{
  width: 105px;
  border: none;
  border-radius: 20px;
  background: #27C9BF;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.50);
  color: #1E1E1E;
  font-size: 36px;
  font-family: Itim;
  line-height: 60px;
  letter-spacing: 15px;
  cursor: pointer;
}
#hit{
  width: 105px;
}
#stand{
  width: 190px;
}
#reset{
  width: 185px;
}

.result{
  width:500px;
  align-self: center;
  color: #e2ebd5;
  font-family: Itim;
  font-size: 100px;
}